header {
  height: 400px;
  width: 100%;
  background-color: #8a8f00;
  color: rgb(247, 247, 247);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display:flex;
  justify-content: center ;
  flex-direction: column;
  align-items: center;
}