#nav-bar {
  height: 120px;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  color: #ffffff;
  background: #4056A1;

}

nav span {
  font-family: 'Bungee', cursive;
  font-size: larger;
}
#navButton {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: Transparent;
  color: #ffffff;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

