#nav-bar {
  font-family: 'Bungee', cursive;
  font-size: larger;
  height: 120px;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background: #4056A1;

}

#navButton {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: Transparent;
  color: #ffffff;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

