.new-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightpink;
    border-radius: 5px;
  border-color: #bdbdbd;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
}

.new-tweet h2 {
  margin-top: 0;
  border-bottom: 4px solid;
}

form {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
form textarea {
  border: none;
  border-bottom: 4px solid;
  outline: 0;
  background-color: transparent;
  width: 100%;
}

form div {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  font-family: 'Bungee', cursive;
  align-items: center;
}



form div button {
  background-color: #4056A1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}