.all-tweets {
  display: flex;
  margin: auto;
  margin-top: 30px;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: rgb(252, 242, 225);
  padding: 1em;
  border-radius: 5px;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
}

.tweet {
  border: solid 4px grey;
  width: 70%;
  border-radius: 8px;
  margin-top: 30px;
  background-color: papayawhip;
}

.all-tweets .nameData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
 
}

.all-tweets .nameData div {
  display: flex;
}

.tweet footer {
  margin-left: 10px;
  font-size: 80%;
}

#tweetText {
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 5px solid grey;
}

.nameData img {
  height: 100%;
}

.tweet:hover {
  border-radius: 5px;
  border-color: #000000;
  border-style: solid;
  border-width: 4px;
}
.tweet:hover #tweetText {
  border-bottom: 5px solid black;
}
@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: space-around;
  }

  .all-tweets {
    margin-top: 120px;
  }
 }